<!DOCTYPE html>
<html>
<head>
  <title>RailsCustomErrorPages</title>
  <%= stylesheet_link_tag    "rails_custom_error_pages/application", media: "all" %>
  <%= javascript_include_tag "rails_custom_error_pages/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
